* {
	margin: 0px;
	overflow: hidden;
}

a {
	text-decoration: none !important;
}

.top-bar {
	background-color: #f1f1f1;
	color: #808b96;
	padding: 15px;
	font-family: "Josefin Sans", "Segoe UI", "Helvetica", arial, sans-serif;
	font-size: 28px;
	text-align: center;
}

.cool-link {
	background: black;
	color: white;
	opacity: 0.9;
	display: inline-flex;
	width: 280px;
	height: 210px;
	line-height: 30px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;
	transition: 0.5s;
	text-align: center;
}

.cool-link img {
	margin-right: 10px;
}

.cool-link:hover {
	opacity: 0.5;
	transition: 0.5s;
}

#translator {
	background-image: url("../images/translator.jpg");
	background-size: contain;
}
