* {
	margin: 0px;
	text-align: center;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
}

textarea {
	margin-top: 50px !important;
	margin-bottom: 40px !important;
	width: 70%;
	padding: 10px;
	text-align: left;
	border: 1px solid lightgrey;
	border-radius: 2px;
	resize: none;
	font-family: arial, sans-serif;
	font-size: 16px !important;
	outline: none;
}

textarea:hover {
	border-color: darkgrey;
}

textarea:active {
	border-color: #c6c6c6;
}

button {
	background-color: #f2f2f2;
	color: #757575 !important;
	font-weight: bold !important;
	font-size: 13px !important;
	padding: 12px;
	border-radius: 2px;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0px 10px 50px 10px !important;
	outline: none;
}

button:hover {
	border-color: #c6c6c6;
}

button:active {
	border-color: #4885ed;
}

.blue {
	color: #4885ed;
}

.red {
	color: #db3236;
}

.yellow {
	color: #f4c20d;
}

.green {
	color: #3cba54;
}

.custom-footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #f1f1f1;
	color: #757575 !important;
	border-top: 1px solid #e4e4e4;
	overflow: hidden;
	font-family: arial, sans-serif;
	font-size: 13px !important;
	line-height: 40px;
}

#top-bar {
	background-color: #f1f1f1;
	color: #808b96;
	padding: 15px;
	font-family: "Josefin Sans", "Segoe UI", "Helvetica", arial, sans-serif;
	font-size: 28px !important;
}

#container {
	width: 100%;
}
