<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smart Split</title>
	<!-- <link rel="shortcut icon" type="image/jpg" href="images/smart-split-icon.jpg"> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/smart-split.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/smart-split.js"></script>
</head>
<body>
	<div class="top-bar">
		Smart Split
	</div>

	<div id="container" data-ng-app="smart-split-app" data-ng-controller="smart-split-controller">

		<div id="event-information-div">
			<input class="full-width bottom-border left-align" id="event-description-input" type="text" placeholder="Event Description" value="" />
		</div>

		<div class="section-title full-width left-align">Participants</div>
		<div class="section full-width left-align" id="participants-information-div">
			<div class="left-align" id="add-participants-div">
				<input class="bottom-border left-align" id="participant-name-input" data-ng-model="participantName" type="text" placeholder="Participant Name" value="" />
				<button class="red" id="add-participant-button" data-ng-click="addParticipant()">Add Participant</button>
			</div>
			<div class="left-align" id="participants-list-div">
				<div data-ng-repeat="participant in participants" class="participant">
					{{ participant }}
					<button id="delete-participant-button" data-ng-click="deleteParticipant($index)">&#10005;</button>
				</div>
			</div>
		</div>

		<div class="section-title full-width left-align">Items Details</div>
		<div class="section full-width left-align">
			<button class="red" id="add-item-button" data-ng-click="addParticipant()">Add Item</button>
		</div>

	</div>

</body>
</html>
