* {
	text-align: center;
}

body {
	background-color: #fad7a0 !important;
}

.top-bar {
	background-image: url("../images/sudoku-solver-top-bar.jpg");
	color: white;
	padding: 15px;
	font-family: "Josefin Sans", "Segoe UI", "Helvetica", arial, sans-serif;
	font-size: 28px !important;
}

#puzzle-grid {
	margin-top: 30px;
	margin-bottom: 30px;
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.col {
	width: 34px !important;
	height: 34px !important;
	display: inline-block;
	line-height: 34px;
	border-radius: 3px;
	color: white;
	font-size: 20px;
}

input {
	height: 34px;
	width: 34px;
	line-height: 34px;
	color: white;
	margin: 0px;
	border: 1px none;
	border-radius: 2px;
	outline: none;
	font-family: "Open Sans", sans-serif, arial !important;
}

input:hover {
	border: 1px solid #ca6f1e;
}

.light input {
	background-color: #f0b27a;
}

.dark input {
	background-color: #eb984e;
}

.custom-button {
	background-color: #eb9843;
	color: white;
	height: 40px;
	width: 100px;
	border: 1px solid #ca6f1e;
	border-radius: 5px;
	outline: none;
	transition: 0.5s;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Open Sans", sans-serif, arial !important;
	font-size: 17px;
}

.custom-button:hover {
	transition: 0.5s;
	background-color: #ca6f1e;
	border: 1px solid #ca6f1e;
}

.custom-button:active {
	border: 1px solid #ca6f1e;
}
