* {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fad7a0 !important;
}

.custom-font {
	font-family: "Open Sans", sans-serif, arial !important;
}

.bold-font {
	font-weight: bold;
}

.top-bar {
	background-color: #c7752c;
	color: white;
	padding: 15px;
	font-family: "Josefin Sans", "Segoe UI", "Helvetica", arial, sans-serif;
	font-size: 28px !important;
}

#container {
	max-width: 360px !important;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 30px;
}

#puzzle-grid {
	display: inline-block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.custom-row {
	margin: 0;
}

.cell {
	width: 34px !important;
	height: 34px !important;
	margin: 2px;
	border-radius: 3px;
	display: inline-block;
	line-height: 34px;
	color: white;
	float: left;
}

input {
	height: 34px;
	width: 34px;
	line-height: 34px;
	color: white;
	margin: 0;
	padding: 0 !important;
	border: 1px none;
	border-radius: 3px;
	outline: none;
	font-size: 20px;
	font-family: "Open Sans", sans-serif, arial !important;
}

input:hover {
	border: 1px solid #ca6f1e;
}

.light input {
	background-color: #e2a560;
}

.dark input {
	background-color: #c7752c;
}

.light {
	background-color: #e2a560;
	color: white;
}

.dark {
	background-color: #c7752c;
	color: white;
}

.custom-button {
	background-color: #eb9843;
	color: white;
	height: 40px;
	width: 120px;
	border: 1px solid #ca6f1e;
	outline: none;
	transition: 0.5s;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Open Sans", sans-serif, arial !important;
	font-size: 17px;
}

.custom-button:hover {
	transition: 0.5s;
	background-color: #ca6f1e;
	border: 1px solid #ca6f1e;
	cursor: pointer;
}

.custom-button:active {
	border: 1px solid #ca6f1e;
}

.custom-button:disabled {
	background-color: #ca6f1e !important;
	opacity: 0.4;
	cursor: not-allowed;
}

.custom-footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #c7752c;
	color: white !important;
	border-top: 1px solid #e4e4e4;
	overflow: hidden;
	font-family: arial, sans-serif;
	font-size: 13px !important;
	line-height: 40px;
}